<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>e-commerce</title>
    <style>
    .welcome {
      text-align: right;
    }
</style>

</head>
<body>
    {% block header %}
            {% include 'include/header.html' %}
    {% endblock header %}

     {% block main %}
    {% if user.is_authenticated %}
    <div class="welcome">
            Welcome, {{ user.username }}. Thanks for logging in. <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            Welcome, new user. <a href="{% url 'login' %}">Please log in</a> or <a href="{% url 'register' %}">regi</a>
    {% endif %}
        <div class="cart-info">
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            Your cart:
            <a href="{% url 'cart_detail' %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
            </a>
            {% else %}
            Your cart is empty.
            {% endif %}
            {% endwith %}
        </div>
        {% if user.is_authenticated %}
        <div class="favortites">
            <a href="{% url 'favorites_list' %}"> Избранное </a>

            <form action="{% url 'delete_favorites' %}" method="post"> {% csrf_token %}
                <input type="hidden" name="url_from" value="{{ request.path }}">
                            <button type="submit" class="btn btn-danger"> Delete favorites </button>
            </form>
        </div>
        {% endif %}
    </div>

    <h4> твоя session </h4>

    <h2 class="mb-3"> Session key: {{ request.session.session_key }}</h2>



    <div class="jumbotron">
        <div>{{ request.session.keys }}</div>
        <div> {{ request.session.items }}</div>
        <div>{{ favorites_list }}</div>
    </div>

    <hr>


<div class="right-side my-4" style="text-align:right; position: right;">
    <form action="{% url 'home' %}">
        <h3 class="sear-head editContent">Категории</h3>
        <ul class="w3layouts-box-list" style="list-style-type: none">
            {% for category in categories %}
        <li class="editContent">
            <input type="checkbox" aria-label="Search" name="category" value="{{ category.id }}">
        <span>  {{ category.name }}</span>
            </li>
        {% endfor %}
        </ul>

        <input  type="number" placeholder="min price" aria-label="Search" name="min_price" min="1"  value="1">
        <br>
        <input  type="number" placeholder="max price" aria-label="Search" name="max_price" min="0">
        <br>

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>

<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for product in product_list %}
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4" >
                <div class="men-thumb-item">
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"  width="350" height="500" alt="" ></a>
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{{ product.get_absolute_url }}" class="editContent" >
                            {{ product.name }}</a>
                    </h4>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent" >{{ product.price }}</span>
                        </div>
                        {% if user.is_authenticated and user.is_staff %}
                        <div class="grid-price">
                            <a href="{% url 'update' product.slug %}"> Update </a>
                        </div>
                        <a href="{% url 'delete' product.slug %}">Delete</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="d-flex">
                            {% include "favorites/include/add_to_favorites.html" with product=product.name id=product.id %}
                            {% include "favorites/include/remove_from_favorites.html" with product=product.name id=product.id %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <br>
                        </ul>
                    </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="...">
                      <ul class="pagination">

                          {% if page_obj.has_previous %}
                          <li class="page-item" >
                              <a class="page-link" href="?page={{ page_obj.previous_page_number}}"  tabindex="-1"> Previous</a>
                          </li>
                          {% endif %}

                          {% for n in page_obj.paginator.page_range %}
                              {% if page_object.number == n %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ n }}" > {{ n }} <span
                                            class="sr-only">(current)</span></a>
                                </li>
                              {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}"> {{ n }}</a>
                                </li>
                                {% endif %}
                          {% endfor %}

                          {% if page_obj.has_next %}
                              <li class="page-item">
                                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1"> Next</a>
                              </li>
                          {% endif %}
                      </ul>
                    </nav>
        </div>
    </div>

 {% endblock main %}

{% block content %}

{% endblock %}

</body>
</html>